.center {
    text-align: center;
}

.margin-top-5 {
    margin-top: 5px;
}

.no-margin-top {
    margin-top: 0px;
}

.margin-left-52 {
    margin-left: 52px !important;
}

.full-width {
    width: 100%;
}